[submodule "sub-packages/candles-feed"]
	path = sub-packages/candles-feed
	url = https://github.com/MementoRC/hb-candles-feed.git
	branch = development
[submodule "sub-packages/liquidations-feed"]
	path = sub-packages/liquidations-feed
	url = https://github.com/MementoRC/hb-liquidations-feed.git
	branch = development
[submodule "sub-packages/rate-oracle"]
	path = sub-packages/rate-oracle
	url = https://github.com/MementoRC/hb-rate-oracle.git
	branch = development
[submodule "sub-packages/market-simulator"]
	path = sub-packages/market-simulator
	url = https://github.com/MementoRC/hb-market-simulator.git
	branch = development
